.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 300px;
  height: 310px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px;
  margin: 1em;
}
.outputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.output {
  width: 90%;
  height: 50px;
  font-size: large;
  margin: auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.button {
  color: burlywood;

  height: 40px;
  font-size: large;
  text-align: center;
  border: 1px solid black;
}

.buttonCont {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  grid-template-areas: 
  "d d c add"
  "seven eight nine sub"
  "four five six tim"
  "one two three div"
  "zero point e e"
  ;
}

.buttond{
  grid-area: d;
}

.buttonc{
  grid-area: c;
}

.buttonAdd{
  grid-area: add;
}

.button7{
  grid-area: seven;
}

.button8{
  grid-area: eight;
}

.button9{
  grid-area: nine;
}

.buttonSub{
  grid-area:sub;
}

.button4{
  grid-area: four;
}

.button5{
  grid-area: five;
}

.button6{
  grid-area:six;
}

.buttonTim{
  grid-area: tim;
}

.button1{
  grid-area: one;
}

.button2{
  grid-area: two;
}

.button3{
  grid-area: three;
}

.buttonDiv{
  grid-area: div;
}

.button0{
  grid-area: zero;
}

.buttonp{
  grid-area: point;
}

.buttone{
  grid-area: e;
}